.container-fluid{
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}
span{
  display: inline-block;
  width: 25px;
  text-align: center;
}
.Canvas{
  border: 1px solid black;
  width: 100;
  text-align: center;
  background-color: #4caf50;
  padding-top: 10px;;
}
div.mapa{
  border: 1px solid black;
  max-width: 900px;
  max-height: 400px;
  overflow: scroll;
  cursor: crosshair;
}